<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.ua.Utils.SecurityFilter</filter-class>
        <init-param>
            <param-name>security-config</param-name>
            <param-value>
                admin [controller newLogin.jsp newPatient.jsp newLogin.jsp]
            </param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/users/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>defaultLocale</param-name>
        <param-value>en</param-value>
    </context-param>

    <context-param>
        <param-name>locales</param-name>
        <param-value>ru en</param-value>
    </context-param>

</web-app>